@model SilkSareeEcommerce.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" type="email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-warning">Reset Password</button>
</form>
