@model SilkSareeEcommerce.Models.Product

<h2>Add New Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Upload Image</label>
        <input type="file" name="imageFile" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
            <option value="">-- Select Category --</option>
        </select>

        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Create</button>
</form>
